name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5
    - name: Setup .NET
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: 10.0.x
    - name: Restore dependencies [src]
      run: dotnet restore src
    - name: Build [src]
      run: dotnet build src --no-restore
#    - name: Test [src]
#      run: dotnet test src --no-build --verbosity normal
    - name: Restore dependencies [nuget packages]
      run: dotnet restore "nuget packages"
    - name: Build [nuget packages]
      run: dotnet build "nuget packages" --no-restore
#    - name: Test [nuget packages]
#      run: dotnet test "nuget packages" --no-build --verbosity normal
    - name: Restore dependencies [test]
      run: dotnet restore test
    - name: Build [test]
      run: dotnet build test --no-restore
#    - name: Test [test]
#      run: dotnet test test --no-build --verbosity normal